/* page d'accueil */

.project-home{
    position: relative;
    width: 100%;
    left: -24px;
    right: -24px;
    padding-left: 24px;
    padding-right: 24px;

    margin-top: 54px;
    height: 580px;
    background-image: url(../assets/images/sections/accueil_tell.svg);
    background-repeat: no-repeat;
    background-position: 20px 140px;
    background-size: 115%;
    z-index: 100;
    
    &::before{
        content: "";
        color: $color-bg;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-color: $color-bg-purple;
        pointer-events: none;
        z-index: 1000;

        animation: pinkAnim 1.5s cubic-bezier( 0.4, 0, 0.16, 0.85 );
    }

    &__bg{
        display: none;
        pointer-events: none;
    }

    &__title{
        display: block;
        font-size: 0;
        width: 320px;
        height: 158px;
        background-image: url(../assets/images/sections/titre_tell.svg);
        background-repeat: no-repeat;
    }

    &__subtitle{
        z-index: 100;
        font-family: $text-home;
        font-size: 24px;
        text-align: center;
        margin-bottom: 152px;

        padding-bottom: 28px;
        background-image: url(../assets/images/sections/arrow.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

@keyframes pinkAnim {
    from{
        opacity: 1;
    }
}

@media (min-width: 700px) {
    .project-home{
        left: -80px;
        right: -80px;
        padding-left: 80px;
        padding-right: 80px;
    
        margin-top: 80px;
        height: 1000px;
        background-repeat: no-repeat;
        background-position: 10px 70px;
        
    
        &__title{
            width: 100%;
            height: 100px;
            background-image: url(../assets/images/sections/titre_desktop.svg);
            background-size: contain;
        }
    
        &__subtitle{
            font-size: 36px;
            margin-bottom: 200px;
        }
    }
}





@media (min-width: 1000px) {
    .project-home{
        position: relative;
        width: 100%;
        left: -24px;
        right: -24px;
    
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 0;
        height: 120vh;
        background-position: center 22vh;
        background-size: 68vh;
        z-index: 1000;
        
        &__bg{
            display: block;
            position: absolute;
            height: 100%;
            width: 25vw;
            top: 0;
            bottom: 0;
            background-repeat: no-repeat;
            
            &--left{
                left: 0;
                background-size: 110%;
                background-position: 320% -10vh;
                background-image: url(../assets/images/sections/accueil_bg--left.svg);
            }
            &--right{
                right: 0;
                background-size: 92%;
                background-position: 470% -10vh;
                background-image: url(../assets/images/sections/accueil_bg--right.svg);
            }
        }
    
        &__title{
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            height: 160px;
            background-size: 100%;
            background-position: bottom center;
        }
    
        &__subtitle{
            z-index: 100;
            position: absolute;
            width: calc(100% - 48px);
            top: 92.5%;
            font-size: 36px;
            margin-bottom: 0;
            padding-bottom: 24px;
        }
    }
}

@media (min-width: 1920px) {
    .project-home{
        left: -72px;
        right: -72px;
    
        padding-top: 54px;
        padding-left: 72px;
        padding-right: 72px;
        background-position: center 18vh;
        background-size: 70vh;
        
    
        &__title{
            width: 70%;
            height: 170px;
        }
    
        &__subtitle{
            width: calc(100% - 144px);
            font-size: 53px;
            top: 90%;
            font-size: 53px;
            padding-bottom: 18px;
        }
    }
}

@media (min-width: 1921px) {
    .project-home{
        height: calc(120vh - 54px);

        &__bg{         
            &--left{
                background-size: 72%;
                background-position: 0% -6vh;
            }
            &--right{
                background-size: 59%;
                background-position: 100% -6vh;
            }
        }
        
    
        &__title{
            max-width: 1245px;
        }
    
        &__subtitle{
            top: 90vh;
            max-width: 1776px;
            left: calc((100vw - 1776px)/2);
        }
    }
}