/* styles et modificateurs des images */

.imgDeco{
    margin-left: 96px;
    margin-right: 96px;

    &--echec{
        margin-left: 110px;
        margin-right: 110px;
    }
}

.imgDetails{
    max-width: 160px;
    max-height: 160px;
}

.chargeContainer{
    position: relative;
    width: calc(100% + 24px);
    overflow: hidden;

    &__fond{
        position: absolute;
        z-index: -1;
        background-color: $color-bg-purple;
        width: 100%;
        height: 62%;
        top: 38%;
        opacity: 30%;
        border-radius: 72px 0 0 72px;
    }
}
.imgCharge{
    width: calc(100% + 32px);
    transform: scale(-1,1) translateX(-24px);
}

.feteContainer{
    position: relative;
    width: calc(100% + 48px);
    overflow: hidden;
    left: -24px;

    &__fond{
        position: absolute;
        z-index: -1;
        opacity: 30%;
        background-color: $color-bg-purple;
        width: 100%;
        height: 40%;
        top: 60%;
    }
}
.imgFete{
    width: calc(100% + 24px);
    transform: translateX(-12px);
    padding-bottom: 12.5%;
}

.carteContainer{
    position: relative;

    &__fond{
        position: absolute;
        z-index: -1;
        opacity: 30%;
        background-color: $color-bg-purple;
        width: 100%;
        height: 60%;
        bottom: 0;
        border-radius: 500px;
    }
}
.imgCartes{
    width: 75%;
    padding-left: 24px;
    padding-bottom: 48px;
}





@media (min-width: 700px) {
    .imgDeco{
        margin-left: 200px;
        margin-right: 200px;

        &--echec{
            margin-left: 220px;
            margin-right: 220px;
        }
    }

    .imgDetails{
        max-width: 240px;
        max-height: 240px;
    }

    .chargeContainer{
        width: calc(100% + 80px);
    
        &__fond{
            border-radius: 60px 0 0 60px;
        }
    }
    .imgCharge{
        width: 85%;
    }
    
    .feteContainer{
        width: calc(100% + 160px);
        left: -80px;
    }
    .imgFete{
        width: 95%;
        transform: translateX(20px);
        padding-bottom: 10%;
    }
    
    .carteContainer{
        &__fond{
            height: 60%;
        }
    }
    .imgCartes{
        width: 50%;
        padding-left: 140px;
        padding-bottom: 80px;
    }

    .imgLoup{
        width: 65%;
        padding-left: 120px;
    }

    .imgFlush{
        width: 80%;
        padding-left: 60px;
    }

    .imgLoose{
        width: 70%;
        padding-left: 100px;
    }

    .imgRegarde{
        width: 70%;
        padding-left: 80px;
    }

    .imgDe{
        width: 65%;
        padding-left: 120px;
    }
}





@media (min-width: 1000px) {
    .imgDeco{
        margin-left: auto;
        margin-right: auto;
        max-height: 240px;
        padding-top: 72px;
        padding-bottom: 0;
        
        &--cartes{
            padding-top: 80px;
            padding-bottom: 0;
            transform: rotate(-42deg);
        }
    }

    .imgDetails{
        max-width: none;
        max-height: none;
        position: absolute;

        &--magasin{
            width: 90%;
            margin-left: 5%;
            top: 20%;
        }

        &--casque{
            width: 90%;
            margin-left: 5%;
            top: 74%;
        }

        &--portedocument{
            width: 80%;
            margin-left: 10%;
            top: 25%;
        }

        &--chapeaux{
            top: 33%;
        }

        &--crayon{
            width: 70%;
            margin-left: 15%;
            top: 95%;
        }
        
        &--chrono{
            position: relative;
            grid-row: 3;
            width: 80%;
            margin-left: 10%;
            align-self: center;
        }

        &--amongus{
            width: 90%;
            margin-left: 5%;
            top: 90%;
        }

        &--biblio{
            position: relative;
            width: 70%;
            margin-left: 15%;
        }

        &--loupe{
            position: relative;
            width: 70%;
            margin-left: 15%;
        }
    }

    .chargeContainer{
        position: absolute;
        width: calc(100% + 42px);
        top: 22%;
        left: -18px;
    
        &__fond{
            border-radius: 48px 0 0 48px;
        }
    }
    .imgCharge{
        width: calc(100% - 42px);
        transform: scale(-1,1) translateX(-18px);
    }
    
    .feteContainer{
        width: 100%;
        left: 0;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 18px;
        
        &__fond{
            border-radius: 48px;
            height: 42%;
            top: 58%;
        }
    }
    .imgFete{
        grid-column: 2 / 8;
        width: 95%;
        transform: translateX(20px);
        padding-bottom: 24px;
    }
    
    .carteContainer{
        position: absolute;
        top: 20%;
        width: 100%;

        &__fond{
            height: 60%;
        }
    }
    .imgCartes{
        width: 70%;
        padding-left: 10%;
        padding-bottom: 72px;
    }

    .imgLoup{
        width: 100%;
        padding-left: 0;
        position: absolute;
        top: -10%;
    }

    .imgFlush{
        width: 100%;
        padding-left: 0;
        position: absolute;
    }

    .imgLoose{
        width: 100%;
        padding-left: 0;
        position: absolute;
        top: 2%;
    }

    .imgRegarde{
        width: 100%;
        padding-left: 0;
        position: absolute;
        top: 20%;
        transform: scale(-1, 1);
    }

    .imgDe{
        width: 100%;
        padding-left: 0;
        position: absolute;
        top: 8%;
    }
}

@media (min-width: 1920px) {

    .imgDetails{
        &--magasin{
            top: 18%;
        }

        &--casque{
            top: 72%;
        }
    }

    .chargeContainer{
        position: absolute;
        width: calc(100% + 96px);
        top: 22%;
        left: -24px;
    
        &__fond{
            border-radius: 72px 0 0 72px;
        }
    }
    .imgCharge{
        width: calc(100% - 96px);
        transform: scale(-1,1) translateX(-24px);
    }
    
    .feteContainer{
        column-gap: 24px;
        
        &__fond{
            border-radius: 72px;
            height: 44%;
            top: 56%;
        }
    }
    .imgFete{
        grid-column: 2 / 8;
        width: 95%;
        transform: translateX(18px);
        padding-bottom: 24px;
    }

    .imgLoup{
        top: -18%;
    }

    .imgDe{
        top: 8%;
    }
}

@media (min-width: 1921px) {
    .maxWitdhImg{
        max-width: 576px;

        &--charge{
            max-width: 792px;
        }

        &--fete{
            max-width: 936px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}