/* styles et modificateurs des images */

.imgDeco{
    margin-left: 96px;
    margin-right: 96px;
}

.imgDetails{
    max-width: 160px;
    max-height: 160px;
}

.chargeContainer{
    position: relative;
    width: calc(100% + 24px);
    overflow: hidden;

    &__fond{
        position: absolute;
        z-index: -1;
        background-color: $color-bg-purple;
        width: 100%;
        height: 62%;
        top: 38%;
        opacity: 30%;
        border-radius: 72px 0 0 72px;
    }
}
.imgCharge{
    width: calc(100% + 32px);
    transform: scale(-1,1) translateX(-24px);
}

.feteContainer{
    position: relative;
    width: calc(100% + 48px);
    overflow: hidden;
    left: -24px;

    &__fond{
        position: absolute;
        z-index: -1;
        opacity: 30%;
        background-color: $color-bg-purple;
        width: 100%;
        height: 40%;
        top: 60%;
    }
}
.imgFete{
    width: calc(100% + 24px);
    transform: translateX(-12px);
    padding-bottom: 12.5%;
}

.carteContainer{
    position: relative;

    &__fond{
        position: absolute;
        z-index: -1;
        opacity: 30%;
        background-color: $color-bg-purple;
        width: 100%;
        height: 60%;
        bottom: 0;
        border-radius: 500px;
    }
}
.imgCartes{
    width: 75%;
    padding-left: 24px;
    padding-bottom: 48px;
}





@media (min-width: 700px) {
    .imgDeco{
        margin-left: 200px;
        margin-right: 200px;
    }

    .chargeContainer{
        width: calc(100% + 80px);
    
        &__fond{
            border-radius: 60px 0 0 60px;
        }
    }
    .imgCharge{
        width: 85%;
    }
    
    .feteContainer{
        width: calc(100% + 160px);
        left: -80px;
    }
    .imgFete{
        width: 95%;
        transform: translateX(20px);
        padding-bottom: 10%;
    }
    
    .carteContainer{
        &__fond{
            height: 60%;
        }
    }
    .imgCartes{
        width: 65%;
        padding-left: 80px;
        padding-bottom: 80px;
    }
}