/* navigation et burgermenu */

.menu{
    position: fixed;
    z-index: 20;
    width: calc(100% - 48px);
    height: calc(100% - 36px);
    top: 0;
    left: 0;
    padding: 18px 24px;
    pointer-events: none;
    background: none;

    &__btn{
        cursor: pointer;
        pointer-events: all;
        position: absolute;
        right: 24px;
        font-size: 0;
        border: none;
        width: 58px;
        height: 58px;
        background: none;
        z-index: 10;

        &__svg{
            filter: drop-shadow(-3px 4px 0px $color-text-highlight);
            width: 58px;
            height: 58px;

            .block{
                &:hover, &:active, &:focus{
                    fill: $color-title-darker;
                }
            }
        }

        &--close{
            display: none;
            pointer-events: none;
        }
    }

    &__content{
        position: relative;
        width: 100%;
        height: calc(100% - 22px);
        left: -24px;
        top: -18px;
        padding: 40px 24px 18px;
        background: rgb(255,252,249);
        background: linear-gradient(88deg, rgba(255,252,249,1) 10%, rgba(245,229,251,1) 40%, rgba(245,229,251,1) 100%);

        pointer-events: none;
        z-index: 5;
        transform: translateX(calc(100% + 48px));
        transition: 0.8s cubic-bezier( 0.11, 0.99, 0.49, 1 );
        
        &--anchorClicked{
            transition-delay: 0.5s;
        }

        .title{
            color: $color-text;
            margin-left: 32px;
        }
    }

    &.open{

        .menu__content{
            pointer-events: all;
            transform: translateX(0);
            transition: 0.8s cubic-bezier( 0.11, 0.99, 0.49, 1 );
        }
        
        .menu__btn{
            &--close{
                display: block;
                pointer-events: all;
            }

            &--open{
                display: none;
                pointer-events: none;
            }
        }
    }
}

.nav{
    list-style: none;
    margin-top: 24px;

    &__el{
        font-size: 22px;
        font-family: $text-specific;
        font-weight: 800;
        padding-top: 18px;
        padding-bottom: 16px;
        margin-left: 32px;
        margin-right: 32px;

        .anchorDetails{
            display: none;
            pointer-events: none;
        }

        .anchor{
            position: relative;
            color: $color-title;
            left: 80px;
            transition: 0.3s;

            .hexagon{
                position: absolute;
                background-image: url(../assets/images/sections/hexagone-nav.svg);
                background-repeat: no-repeat;
                background-size: contain;
                left: -75px;
                top: -22px;
                width: 59px;
                height: 70px;
                transform: rotateZ(90deg);
                opacity: 0.7;
                filter: drop-shadow(3px 3px 0px $color-text-highlight);
                transition: 0.3s;
            }
            
            &--active{
                transition: 0.3s;
                color: $color-text;

                .hexagon{
                    transition: 0.3s;
                    opacity: 1;
                    background-image: url(../assets/images/sections/hexagone-nav-active.svg);
                }
            }

            &:hover, &:focus, &:active{            
                .hexagon{
                    opacity: 1;
                }
            }

            &--onRight{
                position: relative;
                right: -48px;
                left: auto;
    
                .hexagon{
                    left: auto;
                    right: -75px;
                }

                &--aBitLess{
                    right: -44px;
                }
            }
        }
    }
}

.pion{
    position: absolute;
    width: 48px;
    z-index: 20;
    left: 52px;
    top: 82px;
    pointer-events: none;

    &--pos{
        &1{
            pointer-events: all;
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
        }

        &2{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateX(208px) translateY(66px);
        }

        &3{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateY(132px);
        }

        &4{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateX(208px) translateY(196px);
        }

        &5{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateY(262px);
        }

        &6{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateX(208px) translateY(326px);
        }

        &7{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateY(392px);
        }

        &8{
            transition: 0.5s cubic-bezier( 0.44, 0.95, .58, 1 );
            transform: translateX(208px) translateY(456px);
        }
    }
}






@media (min-width: 700px) {
    .menu{
        width: calc(100% - 160px);
        height: calc(100% - 160px);
        top: 0;
        left: 0;
        padding: 80px 80px;
    
        &__btn{
            right: 80px;
            width: 80px;
            height: 80px;
    
            &__svg{
                width: 80px;
                height: 80px;
            }
        }
    
        &__content{
            width: 100%;
            height: calc(100% - 20px);
            left: -80px;
            top: -80px;
            padding: 100px 80px 80px;
            transform: translateX(calc(100% + 80px));
    
            .title{
                margin-left: 32px;
            }
        }
    }
    
    .nav{
        margin-top: 40px;
    
        &__el{
            font-size: 40px;
            font-family: $text-specific;
            font-weight: 800;
            padding-top: 18px;
            padding-bottom: 16px;
            margin-left: 32px;
            margin-right: 32px;
    
            .anchor{
                left: 80px;
    
                .hexagon{
                    left: -75px;
                    top: -22px;
                    width: 68px;
                    height: 80px;
                }
    
                &--onRight{
                    position: relative;
                    right: -48px;
                    left: auto;
        
                    .hexagon{
                        left: auto;
                        right: -75px;
                    }
    
                    &--aBitLess{
                        right: -44px;
                    }
                }
            }
        }
    }
    
    .pion{
        position: absolute;
        width: 48px;
        z-index: 20;
        left: 52px;
        top: 82px;
        pointer-events: none;
    
        &--pos{
            &1{
                pointer-events: all;
                transition: 0.4s;
            }
    
            &2{
                transition: 0.4s;
                transform: translateX(208px) translateY(66px);
            }
    
            &3{
                transition: 0.4s;
                transform: translateY(132px);
            }
    
            &4{
                transition: 0.4s;
                transform: translateX(208px) translateY(196px);
            }
    
            &5{
                transition: 0.4s;
                transform: translateY(262px);
            }
    
            &6{
                transition: 0.4s;
                transform: translateX(208px) translateY(326px);
            }
    
            &7{
                transition: 0.4s;
                transform: translateY(392px);
            }
    
            &8{
                transition: 0.4s;
                transform: translateX(208px) translateY(456px);
            }
        }
    }
}