/* espaces et styles des sections */

.spaceBelow{
    margin-bottom: 18px;
}

.middleSpaceBelow{
    margin-bottom: 36px;
}

.spaceForAnchor{
    padding-top: 72px;
}

.bigSpaceUnder{
    margin-top: 72px;
}

.bigSpaceBelow{
    margin-bottom: 72px;
}

.middleSpaceBelow--bigger{
    margin-bottom: 48px;
}

.list{
    list-style-type: "- ";
    margin-left: 15px;
}

.bg-purple{
    position: relative;
    

    &__fond{
        position: absolute;
        background-color: $color-bg-purple;
        opacity: 30%;
        padding-left: 24px;
        padding-right: 24px;
        top: -18px;
        left: -24px;
        width: 100%;
        z-index: -1;
        
        &--probs{
            height: 93%;
        }

        &--recherches{
            height: 94%;
        }

        &--solutions{
            height: 80%;
            top: 10%;
        }
    }
}