/* espaces et styles des sections */

.spaceBelow{
    margin-bottom: 18px;
}

.middleSpaceBelow{
    margin-bottom: 36px;

    &--bigger{
        margin-bottom: 54px;
    }
}

.spaceForAnchor{
    padding-top: 72px;
}

.bigSpaceUnder{
    margin-top: 72px;
}

.bigSpaceBelow{
    margin-bottom: 72px;
}

.list{
    list-style-type: "- ";
    margin-left: 15px;
}

.bg-purple{
    position: relative;
    

    &__fond{
        position: absolute;
        background-color: $color-bg-purple;
        opacity: 30%;
        padding-left: 24px;
        padding-right: 24px;
        top: -18px;
        left: -24px;
        width: 100%;
        z-index: -1;
        
        &--probs{
            height: 93%;
        }

        &--recherches{
            height: 94%;
        }

        &--solutions{
            height: 80%;
            top: 10%;
        }
    }
}


@media (min-width: 700px) {
    .spaceBelow{
        margin-bottom: 20px;
    }
    
    .middleSpaceBelow{
        margin-bottom: 40px;

        &--bigger{
            margin-bottom: 80px;
        }
    }
    
    .spaceForAnchor{
        padding-top: 180px;
    }
    
    .bigSpaceUnder{
        margin-top: 180px;
    }
    
    .bigSpaceBelow{
        margin-bottom: 180px;

        &--smaller{
            margin-bottom: 80px;
        }
    }
    
    .list{
        margin-left: 16px;
    }
    
    .bg-purple{
        &__fond{
            padding-left: 80px;
            padding-right: 80px;
            top: -40px;
            left: -80px;
        
    
            &--solutions{
                top: 8%;
            }
        }
    }
}




@media (min-width: 1000px) {
    .spaceBelow{
        margin-bottom: 24px;
    }
    
    .middleSpaceBelow{
        margin-bottom: 36px;

        &--bigger{
            margin-bottom: 54px;
        }
    }
    
    .spaceForAnchor{
        padding-top: 216px;
    }
    
    .bigSpaceUnder{
        margin-top: 216px;
    }
    
    .bigSpaceBelow{
        margin-bottom: 216px;

        &--smaller{
            margin-bottom: 72px;
        }
    }
    
    .list{
        margin-left: 16px;
    }
    
    .bg-purple{
        &__fond{
            padding-left: 0;
            padding-right: 0;
            top: 0;
            left: 0;
        
            &--probs{
                top: -48px;
                height: calc(100% + 64px);
                border-radius: 48px;
            }
    
            &--solutions{
                top: 15%;
                width: calc(100% + 24px);
                height: calc(86% + 9px);
                border-radius: 48px 0 0 48px;
            }

            &--recherches{
                top: -48px;
                height: calc(100% + 64px);
                border-radius: 0 48px 48px 0;
                left: -24px;
                width: calc(100% + 24px);
            }
        }
    }
}