
@import 'utils/variables';
@import 'components/navigation';
@import 'components/home';
@import 'components/sections';
@import 'components/details';
@import 'components/grid';
@import 'components/images';
@import 'components/footer';


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


/** Mobile **/

body{
    background-color: $color-bg;
    color: $color-text;
    font-family: $text-simple;
    font-size: 18px;
    line-height: 1.4;
    padding-left: 24px;
    padding-right: 24px;
}

.title{
    font-size: 36px;
    line-height: 40px;
    font-family: $text-specific;
    font-weight: 800;
    color: $color-title;

    &--dark{
        color: $color-title-darker;
    }

    &--darker{
        color: $color-text-highlight;
    }
}

.highlight_Paragraph{
    font-family: $text-specific;
    color: $color-text-highlight;
    font-size: 22px;

    &--purple{
        color: $color-title;
    }

    &--purpleDarker{
        color: $color-title-darker;
    }
}

.link{
    font-weight: 700;
    color: $color-link;

    &:hover, &:focus, &:active{
        color: $color-link-active;
    }
}

.btn{
    cursor: pointer;
    border: none;
    
    &--details{

        &Open{
            padding: 20px 24px;
            font-family: $text-specific;
            font-weight: 700;
            color: $color-bg;
            font-size: 20px;
            background: none;
            border-image: url("../assets/images/sections/polygone.svg") 28 fill/ 24px round;
            filter: drop-shadow(-3px 3px 0px $color-text-highlight);
        
            &:hover, &:focus, &:active{
                border-image: url("../assets/images/sections/polygone-hover.svg") 28 fill/ 24px round;
                color: $color-bg-blue;
            }
        }
        
        &Close{
            position: sticky;
            z-index: 10;
            top: 0px;
            margin-left: calc(100% - 72px);
            font-size: 0;
            width: 90px;
            height: 90px;
            border: none;
            background-image: url(../assets/images/sections/close-details.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            filter: drop-shadow(-3px 4px 0px $color-text-highlight);

            &:hover, &:focus, &:active{
                background-image: url(../assets/images/sections/close-details-hover.svg);
            }
        }

        &Arrow{
            display: none;
            pointer-events: none;
        }
    }

    &Slider{
        &--left, &--right{
            font-size: 0;
            background-color: transparent;
            background-image: url(../assets/images/details/arrow-slider.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 36px;
            height: 41px;
            filter: drop-shadow(-3px 3px 0px $color-text-highlight);

            &:hover, &:focus, &:active{
                background-image: url(../assets/images/details/arrow-slider-hover.svg);
            }
        }
        &--left{
            transform: scaleX(-1);
            filter: drop-shadow(3px 3px 0px $color-text-highlight);
            justify-self: end;
        }
    }
}

.blockScroll{
    overflow: hidden;
}





/** Tablet **/

@media (min-width: 700px) {
    body{
        font-size: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .title{
        font-size: 60px;
        line-height: 62px;
    }
    
    .highlight_Paragraph{
        font-size: 24px;
    }
    
    .btn{
        &--details{
            &Close{
                margin-left: calc(100% - 100px);
                width: 120px;
                height: 120px;
            }
        }
    
        &Slider{
            &--left, &--right{
                width: 52px;
                height: 60px;
            }
        }
    }
}





/** Desktop **/

@media (min-width: 1000px) {
    body{
        font-size: 18px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .title{
        font-size: 46px;
        line-height: 52px;
    }
    
    .highlight_Paragraph{
        font-size: 22px;

        &--desactivated{
            color: $color-text;
            font-family: $text-simple;
            font-size: 18px;
        }
    }
    
    .btn{
        &--details{
            &Open{
                width: max-content;
            }
            
            &Close{
                display: none;
                pointer-events: none;
            }

            &Arrow{
                pointer-events: all;
                display: block;
                z-index: 40;
                top: 0px;
                left: 0;
                margin-left: 0;
                font-size: 0;
                width: 63px;
                height: 144px;
                border: none;
                background-image: url(../assets/images/sections/arrow-close.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                filter: drop-shadow(-3px 4px 0px $color-text-highlight);

                &:hover, &:focus, &:active{
                    background-image: url(../assets/images/sections/arrow-close-hover.svg);
                }
            }
        }
        
    
        &Slider{
            &--left, &--right{
                width: 63px;
                height: 72px;
            }
            &--left{
                justify-self: start;
            }
            &--right{
                justify-self: end;
            }
        }
    }
}

@media (min-width: 1920px) {
    body{
        font-size: 20px;
        padding-left: 72px;
        padding-right: 72px;

        &::-webkit-scrollbar{
            border-radius: 18px;
            width: 9px;
            background-color: #F0EFFF;

            &-track{
                border-radius: 18px;
                -webkit-box-shadow: inset 0 0 2px #616CD0;
            }

            &-thumb{
                border-radius: 18px;
                background-color: $color-footer;
            }
        }
    }
    
    .title{
        font-size: 60px;
        line-height: 62px;
    }
    
    .highlight_Paragraph{
        font-size: 24px;

        &--desactivated{
            color: $color-text;
            font-family: $text-simple;
            font-size: 20px;
        }
    }
    
    .btn{
        &--details{
            &Arrow{
                width: 83px;
                height: 192px;
            }
        }
    }
}

@media (min-width: 1921px) {
    .maxWidthResticted{
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .allRounded{
        border-radius: 72px;
    }
}