*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* couleurs */

:root{
    --color-bg: #FFFCF9;
    --color-text: #4E364E;
    --color-text-highlight: #260F26;
    --color-title: #934EBF;
    --color-title-darker: #7B429F;
    --color-button: #616CD0;
    --color-bg-purple: #DFB0FF;
    --color-bg-blue: #F0EFFF;
    --color-text-blue: #3C4485;
    --color-title-blue: #3F49A6;
    --color-link: #895F89;
    --color-link-active: #aa68aa;
}



/** Mobile **/

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family:"congenial-light";
    font-size: 18px;
    line-height: 1.4;
    padding-left: 24px;
    padding-right: 24px;
}

.title{
    font-size: 36px;
    line-height: 40px;
    font-family: "congenial";
    font-weight: 800;
    color: var(--color-title);

    &--dark{
        color: var(--color-title-darker);
    }

    &--darker{
        color: var(--color-text-highlight);
    }

    &--home{
        font-family:"ccbiffbamboom";
        font-size: 24px;
        text-align: center;

        padding-bottom: 28px;
        background-image: url(../assets/images/sections/arrow.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.project-home{
    position: relative;
    width: 100%;
    left: -24px;
    right: -24px;
    padding-left: 24px;
    padding-right: 24px;

    margin-top: 72px;
    height: 556px;
    background-image: url(../assets/images/sections/accueil_tell.svg);
    background-repeat: no-repeat;
    background-position: 20px 140px;
    background-size: 115%;
    

    &__title{
        display: block;
        font-size: 0;
        width: 320px;
        height: 158px;
        background-image: url(../assets/images/sections/titre_tell.svg);
    }
}

.highlight_Paragraph{
    font-family: "congenial";
    color: var(--color-text-highlight);
    font-size: 22px;

    &--purple{
        color: var(--color-title);
    }

    &--purpleDarker{
        color: var(--color-title-darker);
    }
}

.link{
    font-weight: 700;
    color: var(--color-link);

    &:hover, &:focus, &:active{
        color: var(--color-link-active);
    }
}

.menu{
    position: fixed;
    width: calc(100% - 48px);
    height: calc(100% - 36px);
    top: 0;
    left: 0;
    padding: 18px 24px;

    &__btn{
        position: absolute;
        right: 24px;
        font-size: 0;
        border: none;
        width: 69px;
        height: 69px;

        &__svg{
            filter: drop-shadow(-3px 6px 0px var(--color-text-highlight));
        }

        &--close{
            display: none;
            pointer-events: none;
        }
    }

    &__content{
        position: relative;
        margin-top: 28px;
        width: 100%;
        height: 100%;
        left: calc(100% + 48px);
    }
}


/** Tablet **/

@media (min-width: 700px) {

}





/** Desktop **/

@media (min-width: 1000px) {
    
    body{
        font-size: 20px;
    }
}