
@import 'utils/variables';
@import 'components/navigation';
@import 'components/home';
@import 'components/sections';
@import 'components/details';
@import 'components/grid';
@import 'components/images';
@import 'components/footer';


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


/** Mobile **/

body{
    background-color: $color-bg;
    color: $color-text;
    font-family: $text-simple;
    font-size: 18px;
    line-height: 1.4;
    padding-left: 24px;
    padding-right: 24px;
}

.title{
    font-size: 36px;
    line-height: 40px;
    font-family: $text-specific;
    font-weight: 800;
    color: $color-title;

    &--dark{
        color: $color-title-darker;
    }

    &--darker{
        color: $color-text-highlight;
    }
}

.highlight_Paragraph{
    font-family: $text-specific;
    color: $color-text-highlight;
    font-size: 22px;

    &--purple{
        color: $color-title;
    }

    &--purpleDarker{
        color: $color-title-darker;
    }
}

.link{
    font-weight: 700;
    color: $color-link;

    &:hover, &:focus, &:active{
        color: $color-link-active;
    }
}

.btn{
    cursor: pointer;
    border: none;
    
    &--details{

        &Open{
            padding: 20px 24px;
            font-family: $text-specific;
            font-weight: 700;
            color: $color-bg;
            font-size: 20px;
            background: none;
            border-image: url("../assets/images/sections/polygone.svg") 28 fill/ 24px round;
            filter: drop-shadow(-3px 3px 0px $color-text-highlight);
        
            &:hover, &:focus, &:active{
                border-image: url("../assets/images/sections/polygone-hover.svg") 28 fill/ 24px round;
                color: $color-bg-blue;
            }
        }
        
        &Close{
            position: sticky;
            z-index: 10;
            top: 0px;
            margin-left: calc(100% - 72px);
            font-size: 0;
            width: 90px;
            height: 90px;
            border: none;
            background-image: url(../assets/images/sections/close-details.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            filter: drop-shadow(-3px 4px 0px $color-text-highlight);

            &:hover, &:focus, &:active{
                background-image: url(../assets/images/sections/close-details-hover.svg);
            }
        }
    }

    &Slider{
        &--left, &--right{
            font-size: 0;
            background-color: transparent;
            background-image: url(../assets/images/details/arrow-slider.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 36px;
            height: 41px;
            filter: drop-shadow(-3px 3px 0px $color-text-highlight);

            &:hover, &:focus, &:active{
                background-image: url(../assets/images/details/arrow-slider-hover.svg);
            }
        }
        &--left{
            transform: scaleX(-1);
            filter: drop-shadow(3px 3px 0px $color-text-highlight);
            justify-self: end;
        }
    }
}

.blockScroll{
    overflow: hidden;
}



/** Tablet **/

@media (min-width: 700px) {

}





/** Desktop **/

@media (min-width: 1000px) {
    
    body{
        font-size: 20px;
    }
}