@charset "UTF-8";
/* Couleurs */
/* fonts */
/* navigation et burgermenu */
.menu {
  position: fixed;
  z-index: 20;
  width: calc(100% - 48px);
  height: calc(100% - 36px);
  top: 0;
  left: 0;
  padding: 18px 24px;
  pointer-events: none;
  background: none;
}
.menu__btn {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  right: 24px;
  font-size: 0;
  border: none;
  width: 58px;
  height: 58px;
  background: none;
  z-index: 10;
}
.menu__btn__svg {
  filter: drop-shadow(-3px 4px 0px #260F26);
  width: 58px;
  height: 58px;
}
.menu__btn__svg .block:hover, .menu__btn__svg .block:active, .menu__btn__svg .block:focus {
  fill: #7B429F;
}
.menu__btn--close {
  display: none;
  pointer-events: none;
}
.menu__content {
  position: relative;
  width: 100%;
  height: calc(100% - 22px);
  left: -24px;
  top: -18px;
  padding: 40px 24px 18px;
  background: rgb(255, 252, 249);
  background: linear-gradient(88deg, rgb(255, 252, 249) 10%, rgb(245, 229, 251) 40%, rgb(245, 229, 251) 100%);
  pointer-events: none;
  z-index: 5;
  transform: translateX(calc(100% + 48px));
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}
.menu__content--anchorClicked {
  transition-delay: 0.5s;
}
.menu__content .title {
  color: #4e364e;
  margin-left: 32px;
}
.menu.open .menu__content {
  pointer-events: all;
  transform: translateX(0);
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}
.menu.open .menu__btn--close {
  display: block;
  pointer-events: all;
}
.menu.open .menu__btn--open {
  display: none;
  pointer-events: none;
}

.nav {
  list-style: none;
  margin-top: 24px;
}
.nav__el {
  font-size: 22px;
  font-family: "congenial";
  font-weight: 800;
  padding-top: 18px;
  padding-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
}
.nav__el .anchorDetails {
  display: none;
  pointer-events: none;
}
.nav__el .anchor {
  position: relative;
  color: #934EBF;
  left: 80px;
  transition: 0.3s;
}
.nav__el .anchor .hexagon {
  position: absolute;
  background-image: url(../assets/images/sections/hexagone-nav.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -75px;
  top: -22px;
  width: 59px;
  height: 70px;
  transform: rotateZ(90deg);
  opacity: 0.7;
  filter: drop-shadow(3px 3px 0px #260F26);
  transition: 0.3s;
}
.nav__el .anchor--active {
  transition: 0.3s;
  color: #4e364e;
}
.nav__el .anchor--active .hexagon {
  transition: 0.3s;
  opacity: 1;
  background-image: url(../assets/images/sections/hexagone-nav-active.svg);
}
.nav__el .anchor--onRight {
  position: relative;
  right: -48px;
  left: auto;
}
.nav__el .anchor--onRight .hexagon {
  left: auto;
  right: -75px;
}
.nav__el .anchor--onRight--aBitLess {
  right: -44px;
}
.nav__el:hover .anchor .hexagon, .nav__el:focus .anchor .hexagon, .nav__el:active .anchor .hexagon {
  opacity: 1;
}

.pion {
  position: absolute;
  width: 48px;
  z-index: 20;
  left: 52px;
  top: 82px;
  pointer-events: none;
}
.pion--pos1 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
}
.pion--pos2 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateX(208px) translateY(66px);
}
.pion--pos3 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateY(132px);
}
.pion--pos4 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateX(208px) translateY(196px);
}
.pion--pos5 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateY(262px);
}
.pion--pos6 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateX(208px) translateY(326px);
}
.pion--pos7 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateY(392px);
}
.pion--pos8 {
  transition: 0.5s cubic-bezier(0.44, 0.95, 0.58, 1);
  transform: translateX(208px) translateY(456px);
}

@media (min-width: 700px) {
  .menu {
    width: calc(100% - 160px);
    height: calc(100% - 160px);
    top: 0;
    left: 0;
    padding: 80px 80px;
  }
  .menu__btn {
    right: 80px;
    width: 80px;
    height: 80px;
  }
  .menu__btn__svg {
    width: 80px;
    height: 80px;
  }
  .menu__content {
    height: calc(100% - 20px);
    left: -80px;
    top: -80px;
    padding: 100px 80px 80px;
    transform: translateX(calc(100% + 80px));
  }
  .menu__content .title {
    margin-left: 50px;
  }
  .nav {
    margin-top: 40px;
  }
  .nav__el {
    font-size: 40px;
    padding-top: 18px;
    padding-bottom: 16px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
  }
  .nav__el .anchor {
    left: 80px;
  }
  .nav__el .anchor .hexagon {
    left: -100px;
    top: -24px;
    width: 85px;
    height: 100px;
  }
  .nav__el .anchor--onRight {
    right: -150px;
    left: auto;
  }
  .nav__el .anchor--onRight .hexagon {
    left: auto;
    right: -100px;
  }
  .nav__el .anchor--onRight--aBitLess {
    right: -144px;
  }
  .pion {
    width: 70px;
    left: 132px;
    top: 168px;
  }
  .pion--pos2 {
    transform: translateX(434px) translateY(100px);
  }
  .pion--pos3 {
    transform: translateY(200px);
  }
  .pion--pos4 {
    transform: translateX(434px) translateY(300px);
  }
  .pion--pos5 {
    transform: translateY(400px);
  }
  .pion--pos6 {
    transform: translateX(434px) translateY(500px);
  }
  .pion--pos7 {
    transform: translateY(600px);
  }
  .pion--pos8 {
    transform: translateX(434px) translateY(700px);
  }
}
@media (min-width: 1000px) {
  .menu {
    width: 240px;
    height: calc(100% - 48px);
    top: 0;
    left: 0;
    padding: 24px 0 24px 24px;
    display: flex;
    align-items: center;
    pointer-events: none;
    background: none;
  }
  .menu__btn {
    display: none;
    pointer-events: none;
  }
  .menu__content {
    height: auto;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0;
    background: none;
    pointer-events: all;
    transform: none;
  }
  .menu__content .title {
    display: none;
  }
  .nav {
    margin-top: 0;
  }
  .nav__el {
    position: relative;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 34px;
    margin-left: 24px;
    margin-right: 0;
    margin-bottom: 18px;
  }
  .nav__el .anchorDetails {
    display: block;
    pointer-events: all;
    font-size: 0;
    background-image: url(../assets/images/sections/polygone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-3px 3px 0px #260F26);
    width: 36px;
    height: 31px;
    left: 70px;
    bottom: 1px;
    position: absolute;
    opacity: 0.7;
  }
  .nav__el .anchorDetails:hover, .nav__el .anchorDetails:focus, .nav__el .anchorDetails:active {
    opacity: 1;
    transition: 0.3s;
  }
  .nav__el .anchor {
    position: relative;
    color: #934EBF;
    left: 80px;
    transition: 0.3s;
  }
  .nav__el .anchor .nom {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .nav__el .anchor .hexagon {
    left: -75px;
    top: -4px;
    width: 59px;
    height: 70px;
  }
  .nav__el .anchor--active {
    transition: 0.3s;
    color: #4e364e;
  }
  .nav__el .anchor--active .nom {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .nav__el .anchor--onRight {
    position: relative;
    right: auto;
    left: 80px;
  }
  .nav__el .anchor--onRight .hexagon {
    left: -75px;
    right: auto;
  }
  .nav__el:hover .anchor .hexagon, .nav__el:focus .anchor .hexagon, .nav__el:active .anchor .hexagon {
    opacity: 1;
  }
  .nav__el:hover .anchor .nom, .nav__el:focus .anchor .nom, .nav__el:active .anchor .nom {
    opacity: 1;
  }
  .pion {
    width: 54px;
    left: 20px;
    top: -30px;
    pointer-events: none;
  }
  .pion--pos2 {
    transform: translateY(80px);
  }
  .pion--pos3 {
    transform: translateY(160px);
  }
  .pion--pos4 {
    transform: translateY(240px);
  }
  .pion--pos5 {
    transform: translateY(320px);
  }
  .pion--pos6 {
    transform: translateY(400px);
  }
  .pion--pos7 {
    transform: translateY(480px);
  }
  .pion--pos8 {
    transform: translateY(560px);
  }
}
/* page d'accueil */
.project-home {
  position: relative;
  width: 100%;
  left: -24px;
  right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 54px;
  height: 580px;
  background-image: url(../assets/images/sections/accueil_tell.svg);
  background-repeat: no-repeat;
  background-position: 20px 140px;
  background-size: 115%;
}
.project-home__title {
  display: block;
  font-size: 0;
  width: 320px;
  height: 158px;
  background-image: url(../assets/images/sections/titre_tell.svg);
  background-repeat: no-repeat;
}
.project-home__subtitle {
  font-family: "ccbiffbamboom";
  font-size: 24px;
  text-align: center;
  margin-bottom: 152px;
  padding-bottom: 28px;
  background-image: url(../assets/images/sections/arrow.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 700px) {
  .project-home {
    left: -80px;
    right: -80px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 80px;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: 10px 70px;
  }
  .project-home__title {
    width: 100%;
    height: 100px;
    background-image: url(../assets/images/sections/titre_desktop.svg);
    background-size: contain;
  }
  .project-home__subtitle {
    font-size: 36px;
    margin-bottom: 200px;
  }
}
@media (min-width: 1000px) {
  .project-home {
    position: relative;
    width: 100%;
    left: -24px;
    right: -24px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
    height: 1080px;
    background-image: url(../assets/images/sections/accueil_desktop.svg);
    background-position: center -96px;
    background-size: 120%;
  }
  .project-home__title {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 160px;
    background-size: 100%;
    background-position: bottom center;
  }
  .project-home__subtitle {
    position: absolute;
    width: calc(100% - 48px);
    top: 92.5%;
    font-size: 36px;
    margin-bottom: 0;
    padding-bottom: 24px;
  }
}
/* espaces et styles des sections */
.spaceBelow {
  margin-bottom: 18px;
}

.middleSpaceBelow {
  margin-bottom: 36px;
}
.middleSpaceBelow--bigger {
  margin-bottom: 54px;
}

.spaceForAnchor {
  padding-top: 72px;
}

.bigSpaceUnder {
  margin-top: 72px;
}

.bigSpaceBelow {
  margin-bottom: 72px;
}

.list {
  list-style-type: "- ";
  margin-left: 15px;
}

.bg-purple {
  position: relative;
}
.bg-purple__fond {
  position: absolute;
  background-color: #DFB0FF;
  opacity: 30%;
  padding-left: 24px;
  padding-right: 24px;
  top: -18px;
  left: -24px;
  width: 100%;
  z-index: -1;
}
.bg-purple__fond--probs {
  height: 93%;
}
.bg-purple__fond--recherches {
  height: 94%;
}
.bg-purple__fond--solutions {
  height: 80%;
  top: 10%;
}

@media (min-width: 700px) {
  .spaceBelow {
    margin-bottom: 20px;
  }
  .middleSpaceBelow {
    margin-bottom: 40px;
  }
  .middleSpaceBelow--bigger {
    margin-bottom: 80px;
  }
  .spaceForAnchor {
    padding-top: 180px;
  }
  .bigSpaceUnder {
    margin-top: 180px;
  }
  .bigSpaceBelow {
    margin-bottom: 180px;
  }
  .bigSpaceBelow--smaller {
    margin-bottom: 80px;
  }
  .list {
    margin-left: 16px;
  }
  .bg-purple__fond {
    padding-left: 80px;
    padding-right: 80px;
    top: -40px;
    left: -80px;
  }
  .bg-purple__fond--solutions {
    top: 8%;
  }
}
@media (min-width: 1000px) {
  .spaceBelow {
    margin-bottom: 20px;
  }
  .middleSpaceBelow {
    margin-bottom: 40px;
  }
  .middleSpaceBelow--bigger {
    margin-bottom: 80px;
  }
  .spaceForAnchor {
    padding-top: 180px;
  }
  .bigSpaceUnder {
    margin-top: 180px;
  }
  .bigSpaceBelow {
    margin-bottom: 180px;
  }
  .bigSpaceBelow--smaller {
    margin-bottom: 80px;
  }
  .list {
    margin-left: 16px;
  }
  .bg-purple__fond {
    padding-left: 24px;
    padding-right: 24px;
    top: 0px;
    left: -24px;
  }
  .bg-purple__fond--solutions {
    top: 8%;
  }
}
/* styles des zones de détails */
.details {
  position: fixed;
  z-index: 30;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  background: #F0EFFF;
  pointer-events: none;
  transform: translateX(calc(100% + 48px));
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}
.details.open {
  pointer-events: all;
  transform: translateX(0);
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}

.listProb {
  list-style: none;
}
.listProb__number {
  font-size: 24px;
  font-family: "congenial";
  font-weight: 800;
  color: #934EBF;
}
.listProb__title {
  font-size: 0;
  width: 185px;
  height: 65px;
  background-repeat: no-repeat;
}
.listProb__title--3 {
  background-image: url(../assets/images/details/x3.svg);
}
.listProb__title--2 {
  background-image: url(../assets/images/details/x2.svg);
}
.listProb__title--1 {
  background-image: url(../assets/images/details/v1.svg);
}

.borderUnder {
  border-top: #934EBF 5px solid;
  border-radius: 3px;
  padding-top: 36px;
}

.probs {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.probs--smaller {
  height: 51%;
}
.probs__prob {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  opacity: 0;
  transition: 0.4s;
}
.probs .current--prob {
  opacity: 1;
  transform: translateX(0);
}
.probs .previous--prob {
  transform: translateX(calc(-100% - 24px));
}
.probs .next--prob {
  transform: translateX(calc(100% + 24px));
}

.examples {
  list-style: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: #3C4485;
}
.examples__ex {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  opacity: 0;
  transition: 0.4s;
}
.examples .current--ex {
  opacity: 1;
  transform: translateX(0);
}
.examples .previous--ex {
  transform: translateX(calc(-100% - 24px));
}
.examples .next--ex {
  transform: translateX(calc(100% + 24px));
}

.Example__title {
  font-size: 20px;
  font-family: "congenial";
  font-weight: 700;
  color: #3F49A6;
}

.btnContainer {
  margin-top: 24px;
  margin-bottom: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 72px;
       column-gap: 72px;
}
.btnContainer--onEnd {
  margin-bottom: 72px;
}

@media (min-width: 700px) {
  .details {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    transform: translateX(calc(100% + 160px));
  }
  .listProb__number {
    font-size: 26px;
  }
  .borderUnder {
    padding-top: 40px;
  }
  .probs--smaller {
    height: 22%;
  }
  .probs .previous--prob {
    transform: translateX(calc(-100% - 80px));
  }
  .probs .next--prob {
    transform: translateX(calc(100% + 80px));
  }
  .examples .previous--ex {
    transform: translateX(calc(-100% - 80px));
  }
  .examples .next--ex {
    transform: translateX(calc(100% + 80px));
  }
  .Example__title {
    font-size: 26px;
  }
  .btnContainer {
    margin-top: 30px;
    margin-bottom: 80px;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .btnContainer--onEnd {
    margin-bottom: 180px;
  }
}
@media (min-width: 1000px) {
  .details {
    display: none;
    position: initial;
    z-index: 30;
    overflow: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    background: #F0EFFF;
    pointer-events: none;
    transform: none;
    transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
  }
  .details.open {
    pointer-events: all;
    transform: translateX(0);
    transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
  }
  .listProb {
    list-style: none;
  }
  .listProb__number {
    font-size: 24px;
    font-family: "congenial";
    font-weight: 800;
    color: #934EBF;
  }
  .listProb__title {
    font-size: 0;
    width: 185px;
    height: 65px;
    background-repeat: no-repeat;
  }
  .listProb__title--3 {
    background-image: url(../assets/images/details/x3.svg);
  }
  .listProb__title--2 {
    background-image: url(../assets/images/details/x2.svg);
  }
  .listProb__title--1 {
    background-image: url(../assets/images/details/v1.svg);
  }
  .borderUnder {
    border-top: #934EBF 5px solid;
    border-radius: 3px;
    padding-top: 36px;
  }
  .probs {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .probs--smaller {
    height: 51%;
  }
  .probs__prob {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.4s;
  }
  .probs .current--prob {
    opacity: 1;
    transform: translateX(0);
  }
  .probs .previous--prob {
    transform: translateX(calc(-100% - 24px));
  }
  .probs .next--prob {
    transform: translateX(calc(100% + 24px));
  }
  .examples {
    list-style: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: #3C4485;
  }
  .examples__ex {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.4s;
  }
  .examples .current--ex {
    opacity: 1;
    transform: translateX(0);
  }
  .examples .previous--ex {
    transform: translateX(calc(-100% - 24px));
  }
  .examples .next--ex {
    transform: translateX(calc(100% + 24px));
  }
  .Example__title {
    font-size: 20px;
    font-family: "congenial";
    font-weight: 700;
    color: #3F49A6;
  }
  .btnContainer {
    margin-top: 24px;
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 72px;
         column-gap: 72px;
  }
  .btnContainer--onEnd {
    margin-bottom: 72px;
  }
}
/* grille */
@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .grid__el {
    grid-column-start: 4;
    grid-column-end: 9;
  }
  .grid-start1 {
    grid-column-start: 1;
  }
  .grid-start11 {
    grid-column-start: 11;
  }
  .grid-end-1 {
    grid-column-end: -1;
  }
  .grid-end10 {
    grid-column-end: 10;
  }
  .grid-end11 {
    grid-column-end: 11;
  }
  .grid-end14 {
    grid-column-end: 14;
  }
}
/* styles et modificateurs des images */
.imgDeco {
  margin-left: 96px;
  margin-right: 96px;
}
.imgDeco--echec {
  margin-left: 110px;
  margin-right: 110px;
}

.imgDetails {
  max-width: 160px;
  max-height: 160px;
}

.chargeContainer {
  position: relative;
  width: calc(100% + 24px);
  overflow: hidden;
}
.chargeContainer__fond {
  position: absolute;
  z-index: -1;
  background-color: #DFB0FF;
  width: 100%;
  height: 62%;
  top: 38%;
  opacity: 30%;
  border-radius: 72px 0 0 72px;
}

.imgCharge {
  width: calc(100% + 32px);
  transform: scale(-1, 1) translateX(-24px);
}

.feteContainer {
  position: relative;
  width: calc(100% + 48px);
  overflow: hidden;
  left: -24px;
}
.feteContainer__fond {
  position: absolute;
  z-index: -1;
  opacity: 30%;
  background-color: #DFB0FF;
  width: 100%;
  height: 40%;
  top: 60%;
}

.imgFete {
  width: calc(100% + 24px);
  transform: translateX(-12px);
  padding-bottom: 12.5%;
}

.carteContainer {
  position: relative;
}
.carteContainer__fond {
  position: absolute;
  z-index: -1;
  opacity: 30%;
  background-color: #DFB0FF;
  width: 100%;
  height: 60%;
  bottom: 0;
  border-radius: 500px;
}

.imgCartes {
  width: 75%;
  padding-left: 24px;
  padding-bottom: 48px;
}

@media (min-width: 700px) {
  .imgDeco {
    margin-left: 200px;
    margin-right: 200px;
  }
  .imgDeco--echec {
    margin-left: 220px;
    margin-right: 220px;
  }
  .imgDetails {
    max-width: 240px;
    max-height: 240px;
  }
  .chargeContainer {
    width: calc(100% + 80px);
  }
  .chargeContainer__fond {
    border-radius: 60px 0 0 60px;
  }
  .imgCharge {
    width: 85%;
  }
  .feteContainer {
    width: calc(100% + 160px);
    left: -80px;
  }
  .imgFete {
    width: 95%;
    transform: translateX(20px);
    padding-bottom: 10%;
  }
  .carteContainer__fond {
    height: 60%;
  }
  .imgCartes {
    width: 50%;
    padding-left: 140px;
    padding-bottom: 80px;
  }
  .imgLoup {
    width: 65%;
    padding-left: 120px;
  }
  .imgFlush {
    width: 80%;
    padding-left: 60px;
  }
  .imgLoose {
    width: 70%;
    padding-left: 100px;
  }
  .imgRegarde {
    width: 70%;
    padding-left: 80px;
  }
  .imgDe {
    width: 65%;
    padding-left: 120px;
  }
}
@media (min-width: 1000px) {
  .imgDeco {
    margin-left: 200px;
    margin-right: 200px;
  }
  .imgDeco--echec {
    margin-left: 220px;
    margin-right: 220px;
  }
  .imgDetails {
    max-width: 240px;
    max-height: 240px;
  }
  .chargeContainer {
    width: calc(100% + 24px);
  }
  .chargeContainer__fond {
    border-radius: 60px 0 0 60px;
  }
  .imgCharge {
    width: 85%;
  }
  .feteContainer {
    width: calc(100% + 48px);
    left: -24px;
  }
  .imgFete {
    width: 95%;
    transform: translateX(20px);
    padding-bottom: 10%;
  }
  .carteContainer__fond {
    height: 60%;
  }
  .imgCartes {
    width: 50%;
    padding-left: 140px;
    padding-bottom: 80px;
  }
  .imgLoup {
    width: 65%;
    padding-left: 120px;
  }
  .imgFlush {
    width: 80%;
    padding-left: 60px;
  }
  .imgLoose {
    width: 70%;
    padding-left: 100px;
  }
  .imgRegarde {
    width: 70%;
    padding-left: 80px;
  }
  .imgDe {
    width: 65%;
    padding-left: 120px;
  }
}
.footer {
  background-color: #9096DC;
  border-radius: 24px 24px 0 0;
  position: relative;
  left: -24px;
  right: -24px;
  padding: 48px 24px;
  width: 100%;
  font-size: 16px;
  font-family: "congenial";
  color: #260F26;
}
.footer__credits {
  font-size: 16px;
  margin-bottom: 36px;
  display: block;
}
.footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .footer__link {
  color: #260F26;
}
.footer .footer__link:hover, .footer .footer__link:focus, .footer .footer__link:focus {
  text-decoration: underline;
  color: #4e364e;
}

@media (min-width: 700px) {
  .footer {
    border-radius: 48px 48px 0 0;
    left: -80px;
    right: -80px;
    padding: 60px 80px;
    font-size: 20px;
  }
  .footer__credits {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1000px) {
  .footer {
    border-radius: 48px 48px 0 0;
    left: 0;
    right: 0;
    padding: 48px 0;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .footer__credits {
    grid-column: 3/6;
    font-size: 20px;
    margin-bottom: 0;
  }
  .footer__list {
    grid-column: 6/9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .footer__list__elGrid {
    justify-self: end;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/** Mobile **/
body {
  background-color: #FFFCF9;
  color: #4e364e;
  font-family: "congenial-light";
  font-size: 18px;
  line-height: 1.4;
  padding-left: 24px;
  padding-right: 24px;
}

.title {
  font-size: 36px;
  line-height: 40px;
  font-family: "congenial";
  font-weight: 800;
  color: #934EBF;
}
.title--dark {
  color: #7B429F;
}
.title--darker {
  color: #260F26;
}

.highlight_Paragraph {
  font-family: "congenial";
  color: #260F26;
  font-size: 22px;
}
.highlight_Paragraph--purple {
  color: #934EBF;
}
.highlight_Paragraph--purpleDarker {
  color: #7B429F;
}

.link {
  font-weight: 700;
  color: #895F89;
}
.link:hover, .link:focus, .link:active {
  color: #aa68aa;
}

.btn {
  cursor: pointer;
  border: none;
}
.btn--detailsOpen {
  padding: 20px 24px;
  font-family: "congenial";
  font-weight: 700;
  color: #FFFCF9;
  font-size: 20px;
  background: none;
  -o-border-image: url("../assets/images/sections/polygone.svg") 28 fill/24px round;
     border-image: url("../assets/images/sections/polygone.svg") 28 fill/24px round;
  filter: drop-shadow(-3px 3px 0px #260F26);
}
.btn--detailsOpen:hover, .btn--detailsOpen:focus, .btn--detailsOpen:active {
  -o-border-image: url("../assets/images/sections/polygone-hover.svg") 28 fill/24px round;
     border-image: url("../assets/images/sections/polygone-hover.svg") 28 fill/24px round;
  color: #F0EFFF;
}
.btn--detailsClose {
  position: sticky;
  z-index: 10;
  top: 0px;
  margin-left: calc(100% - 72px);
  font-size: 0;
  width: 90px;
  height: 90px;
  border: none;
  background-image: url(../assets/images/sections/close-details.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  filter: drop-shadow(-3px 4px 0px #260F26);
}
.btn--detailsClose:hover, .btn--detailsClose:focus, .btn--detailsClose:active {
  background-image: url(../assets/images/sections/close-details-hover.svg);
}
.btnSlider--left, .btnSlider--right {
  font-size: 0;
  background-color: transparent;
  background-image: url(../assets/images/details/arrow-slider.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 41px;
  filter: drop-shadow(-3px 3px 0px #260F26);
}
.btnSlider--left:hover, .btnSlider--left:focus, .btnSlider--left:active, .btnSlider--right:hover, .btnSlider--right:focus, .btnSlider--right:active {
  background-image: url(../assets/images/details/arrow-slider-hover.svg);
}
.btnSlider--left {
  transform: scaleX(-1);
  filter: drop-shadow(3px 3px 0px #260F26);
  justify-self: end;
}

.blockScroll {
  overflow: hidden;
}

/** Tablet **/
@media (min-width: 700px) {
  body {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .title {
    font-size: 60px;
    line-height: 62px;
  }
  .highlight_Paragraph {
    font-size: 24px;
  }
  .btn--detailsClose {
    margin-left: calc(100% - 100px);
    width: 120px;
    height: 120px;
  }
  .btnSlider--left, .btnSlider--right {
    width: 52px;
    height: 60px;
  }
}
/** Desktop **/
@media (min-width: 1000px) {
  body {
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .highlight_Paragraph {
    font-size: 22px;
  }
  .btn--detailsOpen {
    width: -moz-fit-content;
    width: fit-content;
  }
  .btn--detailsClose {
    margin-left: calc(100% - 100px);
    width: 120px;
    height: 120px;
  }
  .btnSlider--left, .btnSlider--right {
    width: 52px;
    height: 60px;
  }
}/*# sourceMappingURL=app.css.map */