@charset "UTF-8";
/* Couleurs */
/* fonts */
/* navigation et burgermenu */
.menu {
  position: fixed;
  z-index: 20;
  width: calc(100% - 48px);
  height: calc(100% - 36px);
  top: 0;
  left: 0;
  padding: 18px 24px;
  pointer-events: none;
}
.menu__btn {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  right: 24px;
  font-size: 0;
  border: none;
  width: 58px;
  height: 58px;
  background: none;
  z-index: 10;
}
.menu__btn__svg {
  filter: drop-shadow(-3px 4px 0px #260F26);
  width: 58px;
  height: 58px;
}
.menu__btn--close {
  display: none;
  pointer-events: none;
}
.menu__content {
  pointer-events: none;
  position: relative;
  margin-top: 38px;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: translateX(calc(100% + 48px));
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}
.menu__content .title {
  color: #4E364E;
}
.menu.open .menu__content {
  pointer-events: all;
  transform: translateX(0);
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}
.menu.open .menu__btn--close {
  display: block;
  pointer-events: all;
}
.menu.open .menu__btn--open {
  display: none;
  pointer-events: none;
}

/* page d'accueil */
.project-home {
  position: relative;
  width: 100%;
  left: -24px;
  right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 72px;
  height: 556px;
  background-image: url(../assets/images/sections/accueil_tell.svg);
  background-repeat: no-repeat;
  background-position: 20px 140px;
  background-size: 115%;
}
.project-home__title {
  display: block;
  font-size: 0;
  width: 320px;
  height: 158px;
  background-image: url(../assets/images/sections/titre_tell.svg);
  background-repeat: no-repeat;
}
.project-home__subtitle {
  font-family: "ccbiffbamboom";
  font-size: 24px;
  text-align: center;
  margin-bottom: 152px;
  padding-bottom: 28px;
  background-image: url(../assets/images/sections/arrow.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* espaces et styles des sections */
.spaceBelow {
  margin-bottom: 18px;
}

.middleSpaceBelow {
  margin-bottom: 36px;
}

.spaceForAnchor {
  padding-top: 72px;
}

.bigSpaceUnder {
  margin-top: 72px;
}

/* styles des zones de détails */
.details {
  position: fixed;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  background: #F0EFFF;
  transform: translateX(calc(100% + 48px));
  transition: 0.8s cubic-bezier(0.11, 0.99, 0.49, 1);
}

/* grille */ /* styles et modificateurs des images */
.imgDeco--tell {
  margin-left: 96px;
  margin-right: 96px;
}

.chargeContainer {
  position: relative;
  width: calc(100% + 24px);
  overflow: hidden;
}
.chargeContainer__fond {
  position: absolute;
  background-color: #DFB0FF;
  width: 100%;
  height: 62%;
  top: 38%;
  opacity: 30%;
  border-radius: 72px 0 0 72px;
}

.imgCharge {
  width: calc(100% + 32px);
  transform: scale(-1, 1) translateX(-24px);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/** Mobile **/
body {
  background-color: #FFFCF9;
  color: #4E364E;
  font-family: "congenial-light";
  font-size: 18px;
  line-height: 1.4;
  padding-left: 24px;
  padding-right: 24px;
}

.title {
  font-size: 36px;
  line-height: 40px;
  font-family: "congenial";
  font-weight: 800;
  color: #934EBF;
}
.title--dark {
  color: #7B429F;
}
.title--darker {
  color: #260F26;
}

.highlight_Paragraph {
  font-family: "congenial";
  color: #260F26;
  font-size: 22px;
}
.highlight_Paragraph--purple {
  color: #934EBF;
}
.highlight_Paragraph--purpleDarker {
  color: #7B429F;
}

.link {
  font-weight: 700;
  color: #895F89;
}
.link:hover, .link:focus, .link:active {
  color: #aa68aa;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 20px 24px;
  font-family: "congenial";
  font-weight: 700;
  color: #FFFCF9;
  background: none;
  font-size: 20px;
  -o-border-image: url("../assets/images/sections/polygone.svg") 28 fill/24px round;
     border-image: url("../assets/images/sections/polygone.svg") 28 fill/24px round;
  filter: drop-shadow(-3px 3px 0px #260F26);
}
.btn:hover, .btn:focus, .btn:active {
  -o-border-image: url("../assets/images/sections/polygone-hover.svg") 28 fill/24px round;
     border-image: url("../assets/images/sections/polygone-hover.svg") 28 fill/24px round;
  color: #F0EFFF;
}

/** Tablet **/
/** Desktop **/
@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}/*# sourceMappingURL=app.css.map */