/* Couleur */
$color-bg: #FFFCF9;
$color-text: #4E364E;
$color-text-highlight: #260F26;
$color-title: #934EBF;
$color-title-darker: #7B429F;
$color-button: #616CD0;
$color-bg-purple: #DFB0FF;
$color-bg-blue: #F0EFFF;
$color-text-blue: #3C4485;
$color-title-blue: #3F49A6;
$color-link: #895F89;
$color-link-active: #aa68aa;


/* fonts */
$text-simple: "congenial-light";
$text-specific: "congenial";
$text-home: "ccbiffbamboom";